/*  This file contains styles applied to the SAM Helper content */
/*  This file lives at: https://github.com/GSA-OCSIT/sam-helper */

.busa {
  position:fixed;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  max-height: 10em;
  min-height: 1em;
  z-index: 10000;
  line-height: 125%;
  font-size: 125%;
}

x.busa a:link {
  color: lightblue;
}

x.busa a:visited {
  color: lightpink;
}

x.busa a:active {
  color: red;
}
x.busa a:hover {
  color: lavender;
}

div#busa-main {
  text-align: left;
  height: 10em;
  z-index: 10000;
  top: 1em;
  left: 0px;
  background-color: 0xcccccc;
}

div.busa#busa-toggle-div {
    position: static;
}

div#busa-toggle {
  width: 100px;
  z-index: 10000;
}

#busa-toggle div {
  padding: 1em;
}

.busa-guide-text {
  padding: 1em;
  float: left;
  font-size: 1.4em;
  line-height: 1.5em;
  width: 67%;
}

div.busa div.overview {
  float: left;
  line-height:1.3;
  font-size: 1.2em;
  text-align: left;
  width: 40%;
  padding: 1em;
  padding-left: 5em;
  margin-bottom: 1em;
}

div.busa div.help_info {
  float: right;
  line-height:1.3;
  font-size: 1.2em;
  text-align: left;
  width: 25%;
  padding: 1em;
}

body div.quick_hint#display-hover-text {
    position: absolute;
    background-color: #cacaca;
    border: solid red 2px;
    margin: 3px;
    padding-right: 20 px;
    color: black;
    font-family: "Lucinda Grande",Arial,sans-serif;
    font-size: 11px;
    z-index: 20000;
}
div.progress#progress {
    clear:both;
    font-size: 150%;
    background-color: gray;
    color: black;
    border: 2px solid black;
    margin: 3px;
    padding: 2px;
    width: 250px;
}

div.busa#busa-main {
border-left: solid black 2px;
border-bottom: solid black 2px;
border-right: solid black 2px;
background-color: #cacaca;
}

div#busa-content div.helper_item.overview {
    padding: 5px 3px;
}

div.helper_item.overview p {
    padding: 5px 3px;
    font-family: "Lucinda Grande",Arial,sans-serif;
    font-size: 13px;
    font-weight: 80%;
    background-color: #cacaca;
    color: black;
}

div.helper_item.help_info {
    border: solid black 3px;
    padding: 5px 3px;
    font-family: "Lucinda Grande",Arial,sans-serif;
    font-size: 13px;
    font-weight: 80%;
    background-color: #cacaca;
    color: black;
}

div.helper_item table#site_help_table {
    padding-left: 60px;
    padding-right: 60px;
}

tr.site_help_table_row#site_help_table_row td#progress_section {
    text-align: right;
    border-right: solid #666666 5px;
    padding: 8px;
    width: 150px;
}

tr.site_help_table_row#site_help_table_row td#progress_section p {
    line-height: 90%;
}

tr.site_help_table_row#site_help_table_row td#site_section {
    border-left: solid #666666 5px;
    padding: 8px;
    width: 150px;
}

tr.site_help_table_row#site_help_table_row td#site_section div.helper_item {
    border: none;
}
